{% extends 'OCPlatformBundle::layout.html.twig' %}

   {% block title %}  - Index {% endblock %}
       {% block body %}
           <h3>Une annonce</h3>
           {%  if(advert.image is not null )   %}
               <h4>{{ advert.title }}</h4>
              <span>Créé par : </span> <span>{{ advert.author }}</span>
               <img src= "{{advert.image.url}}" alt="{{ advert.image.alt }}">
               <p>{{ advert.content }}</p>
           {% endif %}

           <hr>
           <h4> Les applications<h4>
           {% for application in applications %}
            {{application.author}}
            <p>{{application.content}}</p>
           {% endfor %}
       {% endblock %}
    {% block stylesheets %}{% endblock %}
